.mainWrapper {
  min-height: 100vh;
  background: black;
  position: relative;
  
}

.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  border-radius: 100px;
  width: 70%;
  object-fit: cover;

  z-index: 1;
}

.quote {
  position: relative;
  z-index: 3;
  text-align: center;
  font-family: "AssistantR", serif;
  max-width: 800px;
  padding: 2rem;
  margin: 0;
  color: white;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 1.4;
  direction: rtl;
}

.contentWrapper {
  background: black;
  padding: 4rem 2rem;
  color: white;
  position: relative;
  z-index: 3;
}

.subtitle {
  font-family: "Assistant", sans-serif;
  text-align: center;
  direction: rtl;
  font-size: 1.5rem;
  margin: 2rem auto;
  max-width: 800px;
  color: white;
}

.description {
  font-family: "AssistantR", sans-serif;
  text-align: center;
  direction: rtl;
  font-size: 1.4rem;
  max-width: 800px;
  margin: 2rem auto;
  color: white;
  line-height: 1.6;
}

.iconTextList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 3rem auto;
  max-width: 800px;

  padding: 0 1rem;
}

.iconTextContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* מיושר לשמאל */
  gap: 1rem;
  width: 40%;
  direction: rtl;
}

.text {
  font-family: "AssistantR", sans-serif;
  font-size: 1.2rem;
  color: white;
  text-align: right;
}

.icon {
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .backgroundVideo {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .backgroundVideo {
    width: 100%;
  }
  
  .quote {
    font-size: 1.8rem;
    padding: 1rem;
  }

  .subtitle {
    font-size: 1.25rem;
    padding: 0 1rem;
  }

  .description {
    font-size: 1.2rem;
    padding: 0 1rem;
  }

  .iconTextContainer {
    padding: 0 1rem;
  }
  
  .text {
    font-size: 1.1rem;
  }
}