@font-face {
    font-family: 'Assistant';
    src: url('./Assistant-VariableFont_wght.ttf') format('truetype');
    font-weight:800;
    font-style: normal;
  }
  @font-face {
    font-family: 'AssistantR';
    src: url('./Assistant-VariableFont_wght.ttf') format('truetype');
    font-weight:300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Bodni';
    src: url('./BodoniModa-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight:bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Chronical';
    src: url('./Chronicle\ Display\ Light\ Italic.otf') format('truetype');
 
    font-style: normal;
  }