/* Box styles */
.box {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 2% auto;
  padding: 0.5rem 1.5rem;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.05); /* Added very subtle white-gray inner shadow */
}

/* Description styles */
.description {
  font-size: 1rem;
  font-family: "AssistantR";
  text-align: center;
  margin: 2% auto;
  direction: rtl;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #E3DCD2;
}

/* Title styles */
.title {
  font-family: "Assistant";
  text-align: center;
  direction: rtl;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, #E3DCD2, #F8F4EA, #D4AF37);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 20px auto;
  margin: 3% auto;
}

/* Icon styles */
.icon {
  display: flex;
  justify-content: center;
  width: 20%;
  margin: 0 auto;
}

/* Media Queries */
/* For screens smaller than 350px */
@media only screen and (max-width: 350px) {
  .box {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.05); /* Added very subtle white-gray inner shadow */
  }
  
  .description {
    font-size: 0.9rem;
    font-family: "AssistantR";
    text-align: center;
    margin: 2% auto;
    direction: rtl;
    width: 90%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #E3DCD2;
  }
  
  .title {
    font-size: 1.4rem;
    font-family: "Assistant";
    text-align: center;
    margin: 3% auto;
    direction: rtl;
    width: 80%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #E3DCD2, #F8F4EA, #D4AF37);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    width: 18%;
    margin: 2% auto;
  }
}

/* For screens between 350px and 450px */
@media only screen and (min-width: 350px) and (max-width: 450px) {
  .box {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.05); /* Added very subtle white-gray inner shadow */
  }
  
  .description {
    font-size: 1rem;
    font-family: "AssistantR";
    text-align: center;
    margin: 2% auto;
    direction: rtl;
    width: 90%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #E3DCD2;
  }
  
  .title {
    font-size: 1.5rem;
    font-family: "Assistant";
    text-align: center;
    margin: 3% auto;
    direction: rtl;
    width: 90%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #E3DCD2, #F8F4EA, #D4AF37);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 2% auto;
  }
}

/* For screens between 450px and 550px */
@media only screen and (min-width: 450px) and (max-width: 550px) {
  .box {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.05); /* Added very subtle white-gray inner shadow */
  }
  
  .description {
    font-size: 1.1rem;
    font-family: "AssistantR";
    text-align: center;
    margin: 2% auto;
    direction: rtl;
    width: 95%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #E3DCD2;
  }
  
  .title {
    font-size: 1.8rem;
    font-family: "Assistant";
    text-align: center;
    margin: 3% auto;
    direction: rtl;
    width: 80%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #E3DCD2, #F8F4EA, #D4AF37);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    width: 18%;
    margin: 2% auto;
  }
}